In [0]:
import pandas as pd
import seaborn as sns
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
upload =pd.read_csv('drive/My Drive/Travel Pony Facebook.csv')

In [0]:
upload['Cost per Impressions'] = upload['Amount Spent (USD)'] / upload['Impressions']

In [0]:
upload['Start Date'] = pd.to_datetime(upload['Start Date'])
upload['day_of_week'] = upload['Start Date'].dt.day_name()
upload.head()

  Start Date    End Date  ... Cost per Impressions day_of_week
0 2013-12-02  2013-12-02  ...             0.000466      Monday
1 2013-12-01  2013-12-01  ...             0.000652      Sunday
2 2013-11-30  2013-11-30  ...             0.000448    Saturday
3 2013-11-29  2013-11-29  ...             0.000452      Friday
4 2013-11-22  2013-11-22  ...             0.002464      Friday

[5 rows x 22 columns]

In [0]:
upload.groupby('day_of_week').mean()[['Cost per Impressions']]

             Cost per Impressions
day_of_week
Friday                   0.004097
Monday                   0.002910
Saturday                 0.002629
Sunday                   0.003688
Thursday                 0.003398
Tuesday                  0.003040
Wednesday                0.002981

In [0]:
correlationTable= upload[['Amount Spent (USD)','Frequency','Reach','Unique Clicks','Page Likes']].corr()
correlationTable.head(1)

                    Amount Spent (USD)  Frequency  ...  Unique Clicks  Page Likes
Amount Spent (USD)                 1.0   0.130201  ...       0.882993    0.757612

[1 rows x 5 columns]

In [0]:
import statsmodels.api as sm
target = upload ['Unique Clicks']
dep = upload [[ 'Frequency','Reach']] 
mod = sm.OLS(target, dep)
res = mod.fit()
print(res.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:          Unique Clicks   R-squared (uncentered):                   0.557
Model:                            OLS   Adj. R-squared (uncentered):              0.556
Method:                 Least Squares   F-statistic:                              2325.
Date:                Sun, 10 Nov 2019   Prob (F-statistic):                        0.00
Time:                        23:36:16   Log-Likelihood:                         -15973.
No. Observations:                3705   AIC:                                  3.195e+04
Df Residuals:                    3703   BIC:                                  3.196e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Frequency      3.6139      0.298     12.109      0.000       3.029       4.199
Reach          0.0019   3.12e-05     62.490      0.000       0.002       0.002
==============================================================================
Omnibus:                     5107.616   Durbin-Watson:                   0.803
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          5128392.747
Skew:                           7.331   Prob(JB):                         0.00
Kurtosis:                     184.674   Cond. No.                     9.84e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.84e+03. This might indicate that there are
strong multicollinearity or other numerical problems.